<div class="row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
		<h1>Built with Scratch</h1>

		<%= simple_form_for @itch do |f| %>
			<%= f.input :name, label: false %>
			<br />
			<%= f.submit 'Feel the Itch?', :class => 'btn' %>
		<% end %>
			<br />
		<ul>
		<% @itches.each do |itch| %>
			<li><%= itch.name %></li>
		<% end %>
		</ul>
	</div>
</div>
